/* @import url('https://fonts.cdnfonts.com/css/shantell-sans'); */
/* @import url('https://fonts.cdnfonts.com/css/amstelan'); */

body {
  background-color: #264653;
  padding: 0;
}

.header {
  background-color: #264653;
}

.story {
  padding: 0;
  background-color: #264653;
  /* padding-bottom: 30vh; */
}

/* WEDDING DETAILS 1ST TAB */
.content-holder {
  background-color: #ffffff;
  /* border-top-left-radius: 100px;
  border-bottom-right-radius: 100px; */
  height: 220px;
  display: flex;
  align-items: center;
  /* box-shadow: 0px 2px 40px #000000; */
  justify-content: space-between;
}

.contentA {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.contentA.active {
  display: block;
  opacity: 1;
}

.btnn {
  background-color: #b9b9b907;
  color: #13050b9a;
  border: none;
  font-size: 30px;
  z-index: 1;
  position: absolute;
  width: 80px;
  height: 220px;
  /* top: 732px; */

}

.back {
  /* border-top-right-radius: 7pc; */
  left: 13%;
  /* display: none; */
}

.next {
  /* border-top-left-radius: 7pc; */
  /* top: 0; */
  right: 13%;
}

/* .next:hover {
  background: rgb(23,22,21);
  background: linear-gradient(90deg, rgba(23, 22, 21, 0) 0%, rgba(23, 22, 21, 0.203) 100%);
  animation-delay: 2s;
} */

/* .back:hover {
  background: rgb(23, 22, 21);
  background: rgb(23, 22, 21);
  background: linear-gradient(270deg, rgba(23, 22, 21, 0) 0%, rgba(23, 22, 21, 0.207) 100%);
} */


/* WEDDING DETAILS 1ST TAB */
/* WEDDING DETAILS 2ND TAB */
.tab-list {
  font-size: 2vw;
  font-family: 'Shantell Sans', sans-serif;
  /* font-family: ' amstelan', sans-serif; */



}

.container-palette {
  height: 200px;
  width: 350px;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 10px 20px #dbdbdb;
  font-family: sans-serif;
}

.palette {
  display: flex;
  height: 86%;
  width: 100%;
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: flex 0.1s linear;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.color:nth-child(1) {
  background: #264653;
}

.color:nth-child(2) {
  background: #008080;
}

.color:nth-child(3) {
  background: #66b2b2;
}

.color:nth-child(4) {
  background: #b2d8d8;
}

.color:nth-child(5) {
  background: #d8e1e8;
}

.color:hover {
  flex: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
  opacity: 1;
}

#stats {
  height: 14%;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  box-sizing: border-box;
  color: #264653;
}

#stats svg {
  fill: #bebebe;
  transform: scale(1.2);
}

/* WEDDING DETAILS 2ND TAB */

/*  */


.guest-list {
  list-style: none;
}

.guest-list li {
  flex: 1;
  /* Equal width for both columns */
  padding: 5px;
  margin: 2px;
}

/*  */

/*  */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galleryB{
  margin-top: 12vh;

}
.gallery .reception{
  /* margin-bottom: 17%; */
}
.container h2 {
  font-family: 'Dancing Script';
  font-size: 4vw;
  margin-top: 9vh;
  color: #c19c60;
}

.gallery-img {
  background-color: #fffcf7;
  display: block;
  padding: 25px;
  padding-bottom:5%;
  width: 180px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 2%;
}
.gallery-imgB {
  background-color: #fffcf7;
  display: block;
  margin: 2%;
  padding: 25px;
  padding-bottom: 5%;
  width: 300px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


/*  */

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 30%);
}

.modal-content {
  background-color: #f9f9f9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  position: relative;
}

/* Close button */

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: rgb(229, 187, 179);
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add this in your <style> or custom CSS file */
#closeRSVPForm {
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
}

#closeRSVPForm:hover {
  color: #333;
}

@media (max-width: 2000px) {
  .Head {
    /* display: flex; */
    height: 80vh;
  }
  .content {
    padding-top:19vh;
  }
  .name {
    left: 40%;
  }
  .title{
    font-size:6vw;
  }
}

@media (max-width: 1100px) {
  .content {
    padding-top:15vh;
    margin: 0;
    width: 100vw;
  }
}

@media (max-width: 800px) {
  .content{
    padding: 0;
    padding-top: 10vh;
  }
  .title{
    font-size:6vw;
  }
}

@media (max-width: 600px) {
 
  .story{
    padding: 0;
  }
  .content {
    margin: 0;
    width: 100vw;
  }
  .container h1{
    font-family: 'Dancing Script'; 
    font-size:8vw;
  }
  .container h2 {
    font-family: 'Dancing Script';
    font-size: 7vw;
    margin-top: 9vh;
    color: #c19c60;
  }
  .title{
    font-size:5vw;
  }
}